* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resumo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.resumo div {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.divDesc, .divValor, .divTipo {
    display: flex;
    flex-direction: column;
}

.novoItem {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    width: 620px;
}

.divDesc, .divValor {
    width: 300px;
}

#btnNovo, #tipo {
    width: 100px;
}

th, td {
    padding: 0 60px;
    text-align: left;
}

.columnAcao {
    padding: 0;
}

hr {
    height: 1px;
    background-color: black;
}